# ---------------- Python ----------------
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# ---------------- 训练产物（体积很大，不入库）----------------
*.pth
*.pt
runs/

# ---------------- IDE / 操作系统 ----------------
.idea/
.vscode/
.DS_Store

# ---------------- 其他 ----------------
*.log
